@import "../../assets/style/variables.scss";

.search {
  height: 80%;
  @include flex(center, center, row);
  form {
    display: flex;
    .search-input {
      position: relative;
      input {
        width: 422px;
        height: 43px;
        padding: 10px 20px;
        background: rgb(18, 200, 255);
        border-radius: 10px;
        border: none;
        outline: none;
        &:focus,
        &:active {
          color: white;
        }
      }
      ::placeholder {
        font-size: 18px;
        line-height: 23px;
        color: white;
      }
      ::-webkit-search-cancel-button {
        display: none;
      }
      button {
        position: absolute;
        right: 0;
        padding: 10px;
        background: none;
        outline: none;
        border: none;
        .MuiSvgIcon-root {
          color: white;
        }
      }
      .coursesSearchList {
        .coursesCard {
          border: 1px solid black;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.data-details-container {
  .data-table {
    width: 100%;
    margin: 60px 0;
    .data-rows {
      grid-template-columns: 1fr 1fr 1fr;
      display: grid;
      margin: 20px 0;
      span {
        font-size: 20px;
      }
    }
  }
}
